* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: lightblue;
    color: black;
}

#register-user-profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
