.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#register-user-profile-form {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 5em;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

#users-section {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-container {
    width: 45%;
    text-align: center;
    padding: 1em;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

.user-name {
    font-size: 1.2rem;
}

.user-role {
    font-size: 1.1rem;
}

#update-role-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update-role-modal[open] {
    padding: 1em 2em;
    background-color: #fff;
    border: 2px solid black;
}

@media (max-width: 950px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    #register-user-profile-form {
        width: 95%;
    }

    #users-section {
        width: 95%;
        justify-content: space-around;
        margin: 1em 0;
    }
}
